@page
@{
    ViewData["Title"] = "The Co-Authors Of Despair";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Co-Authors Of Despair</title>
    <link rel="stylesheet" href="./assets/stylesheets/room1style.css">
</head>
<body>
    <a href="./room1">Return to previous room</a>
</body>
</html>