/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, "Franklin Gothic Medium", "Arial Narrow", Arial;
}

/* COLOUR PALETTE
#1A1A1D
#3B1C32
#6A1E55
#A64D79
*/

.pallattePreview {
    color: #1A1A1D;
    color: #3B1C32;
    color: #6A1E55;
    color: #A64D79;
}

main {
    display: flex;
    justify-content: space-between;
}

/* GAME AREA */
.gameBox {
    margin: 1.5rem 0 0 1.5rem;
    max-width: 655px;
    width: 100%;
}

.relativeContainer {
    position: relative;
    width: 100%;
    aspect-ratio: 655 / 705;
    margin: 0 auto;
}

.background {
    width: 100%;
    height: auto;
    display: block;
    user-select: none;
}

/* CLICKABLE ITEMS */
.clickable {
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
    transition: filter 0.2s, transform 0.2s;
}

    .clickable:hover {
        filter: brightness(0.9);
    }

/* INDIVIDUAL ITEM POSITIONS - BASED ON BACKGROUND IMAGE */
#bookTemplate {
    width: 5%;
    top: 62%;
    left: 44%;
}

#glassesTemplate {
    width: 4%;
    top: 64%;
    left: 5%;
}

#necklaceTemplate {
    width: 6.5%;
    top: 70%;
    left: 89%;
}

#keyTemplate {
    width: 3%;
    top: 14%;
    left: 52.2%;
}

#lucy {
    width: 25%;
    top: 60%;
    left: 70%;
}

/* NEXT ROOM BUTTON */
#nextRoomButton {
    position: absolute;
    top: 25%;
    left: 83%;
    width: 17%;
    height: 38%;
    background-color: transparent;
    border: none;
    z-index: 2;
    cursor: pointer;
    border-top-right-radius: 120px 40px;
    border-bottom-left-radius: 120px 40px;
    transition: background-color 0.3s;
}

    #nextRoomButton:hover {
        background-color: #1212122a;
    }

/* HUD SIDE PANEL */
.hudSidePanel {
    padding: 0;
    width: 47vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.8rem;
}

/* INVENTORY */
.inventoryBox {
    padding: 1.8rem;
    background-color: #6A1E55;
    width: 100%;
}

    .inventoryBox h2 {
        font-size: 3rem;
        color: #e980b4;
    }

    .inventoryBox table {
        border: 10px inset #A64D79;
    }

    .inventoryBox td {
        border: 4px outset #A64D79;
        transition: background-color 0.1s, transform 0.1s;
        background-color: #8e476b;
    }

        .inventoryBox td:hover {
            background-color: #804060;
        }

        .inventoryBox td:active {
            transform: scale(0.98);
            border-style: inset;
        }

        .inventoryBox td img {
            height: 50px;
        }

/* DIALOGUE BOX */
.dialogueBox {
    padding: 1.8rem;
    background-color: #6A1E55;
    width: 100%;
}

    .dialogueBox h2 {
        font-size: 3rem;
        color: #e980b4;
    }

.characterContainer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.character {
    width: 4vw;
    background-color: #A64D79;
    border-radius: 20px;
}

.talkBox {
    padding: 2rem;
    border: 6px outset #A64D79;
    transition: background-color 0.1s;
    background-color: #8e476b;
}

    .talkBox:hover {
        background-color: #804060;
    }

/* ======= MEDIA QUERIES ======= */

@media screen and (max-width: 1000px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .gameBox {
        margin-top: 1rem;
    }

    .hudSidePanel {
        flex-direction: column-reverse;
        justify-content: space-evenly;
        width: 90vw;
        margin: 1rem 0;
    }

    .inventoryBox td {
        padding: 0.6rem;
    }

    .dialogueBox h2,
    .inventoryBox h2 {
        font-size: 2.4rem;
    }

    .talkBox {
        padding: 1.5rem;
    }

    .character {
        width: 8vw;
    }
}

@media screen and (max-width: 800px) {
    .hudSidePanel {
        margin: 0;
        width: 95vw;
    }

    .inventoryBox table {
        padding: 0.1rem;
    }

    .inventoryBox td {
        padding: 0.2rem;
    }

    .dialogueBox h2,
    .inventoryBox h2 {
        font-size: 2rem;
    }

    .talkBox {
        padding: 1rem;
    }

    .character {
        width: 10vw;
    }
}
