@page
@{
    ViewData["Title"] = "The Co-Authors Of Despair";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Co-Authors Of Despair</title>
    <link rel="stylesheet" href="./assets/stylesheets/room2style.css" />
    <link rel="stylesheet" href="./assets/stylesheets/nav.css" />
    <script>
        function nextRoom() {
            window.location.href = "room3"
        }
    </script>
    <script src="~/assets/scripts/inventoryAdds.js"></script>
    <script src="~/assets/scripts/nav.js"></script>
    <script src="~/assets/scripts/inventory.js"></script>
</head>
<body>
    <header>
        <a href="index"><img src="~/assets/images/Logo.png" alt="company logo" /></a>
        <nav>
            <ul>
                <li><a href="about">About</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="register">Sign Up</a></li>
            </ul>
            <a onclick="Logout()">Logout</a>
        </nav>
    </header>
    <main>
        <section class="gameBox">
            <!-- All clickable images go here with class "clickable" -->
            <img src="~/assets/images/BloodCAOD.png" onclick="addToInventory('blood')" class="clickable" id="bloodTemplate" />
            <img src="~/assets/images/BottleCAOD.png" onclick="addToInventory('bottle')" class="clickable" id="bottleTemplate" />
            <img src="~/assets/images/PagesCAOD.png" onclick="addToInventory('pages')" class="clickable" id="pagesTemplate" />
            <img src="~/assets/images/KeyCAOD.png" onclick="addToInventory('key2');keyClicked();" class="clickable" id="key2Template" />
            <img src="~/assets/images/Stairway.png" class="background" />
            <button id="room3Button" class="clickable" onclick="nextRoom()"></button>
        </section>
        <aside class="hudSidePanel">
            <section class="inventoryBox">
                <h2>Inventory</h2>
                <table>
                    <tr>
                        <td><img src="~/assets/images/InventoryBlankCAOD.png" alt="" /></td>
                        <td><img src="~/assets/images/InventoryBlankCAOD.png" alt="" /></td>
                        <td><img src="~/assets/images/InventoryBlankCAOD.png" alt="" /></td>
                        <td><img src="~/assets/images/InventoryBlankCAOD.png" alt="" /></td>
                        <td><img src="~/assets/images/InventoryBlankCAOD.png" alt="" /></td>
                    </tr>
                    <tr>
                        <td><img src="~/assets/images/InventoryBlankCAOD.png" alt="" /></td>
                        <td><img src="~/assets/images/InventoryBlankCAOD.png" alt="" /></td>
                        <td><img src="~/assets/images/InventoryBlankCAOD.png" alt="" /></td>
                        <td><img src="~/assets/images/InventoryBlankCAOD.png" alt="" /></td>
                        <td><img src="~/assets/images/InventoryBlankCAOD.png" alt="" /></td>
                    </tr>
                    <tr>
                        <td><img src="~/assets/images/InventoryBlankCAOD.png" alt="" /></td>
                        <td><img src="~/assets/images/InventoryBlankCAOD.png" alt="" /></td>
                        <td><img src="~/assets/images/InventoryBlankCAOD.png" alt="" /></td>
                        <td><img src="~/assets/images/InventoryBlankCAOD.png" alt="" /></td>
                        <td><img src="~/assets/images/InventoryBlankCAOD.png" alt="" /></td>
                    </tr>
                </table>
            </section>
            <section class="dialogueBox">
                <div class="characterContainer">
                    <img class="character" src="~/assets/images/DudeOne.png" alt="" />
                    <h2>Leo</h2>
                </div>
                <div class="talkBox"></div>
            </section>
        </aside>
    </main>
    @* <script src="~/assets/scripts/keyDetection.js"></script> *@
</body>
</html>